nav.bg-light {
  background-color: #ffffff !important;
  box-shadow: -2px -2px 9px 0px black;
}


a.navbar-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 37px;
  padding: 0;
  margin-right: 0;
  background-color: transparent;
  margin-left: -16px;
}

a.navbar-brand img{
  vertical-align: middle;
  border-style: none;
}

/* Some good BGs */
/* 
  https://demos.creative-tim.com/now-ui-kit-angular/assets/img/bg1.jpg
  https://demos.creative-tim.com/now-ui-kit-angular/assets/img/bg3.jpg
*/
